* {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
dt ::after {
    content: ":";
}

body {
    background-color: rgb(240, 240, 240);
    color: rgb(2, 74, 161);
}


.width-wrap {
    max-width: 960px;
    margin: auto;
    padding: 0 2em 2em 2em;
    margin-bottom: 3em;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgb(196, 196, 196);
}

footer hr {
    width: 50%;
    min-width: 300px;
    max-width: 890;
    margin: 3em 0 2em 0;
    border: none;
    border-bottom: 3px dotted;
    color: rgb(0, 0, 255);
}

dt::after{
    content: ":";
}

h1 {
color: rgb(51, 196, 209);
}

h2 {
    color: rgb(51, 196, 209);
}

h3{
    color: rgb(51, 196, 209);
}

a {
    color: rgb(253, 236, 0);
}

header {
    border-top: 4px solid rgba(0, 0, 0, 0.1);
    margin-left: -2em;
    margin-right: -2em;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline; 
}

header a {
    display: inline; 
    color: rgb(0, 0, 0);
    padding-top: 1em;
    margin-left: 1em;
}

header a:hover {
    border-top: 5px solid;
}

::selection{
    background-color: rgb(0, 225, 255);
}

header nav {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}